# The password of the database superuser(Please use a complex password in production environment)
DB_PASSWORD=your_password

# The port to map the database to
DB_PORT=5432

# The name of the database to create
DB_NAME=knowledge_base
